.PageLayout__MainContainer section.playerMatches .cardTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.PageLayout__MainContainer section.playerMatches .cardTitle p{
    font-weight: 600;
    font-size: 29px;
}
.PageLayout__MainContainer section.playerMatches .cardTitle select{
    font-size: 16px !important;
}
.PageLayout__MainContainer section.playerMatches .cardTitle .filters{
    display: flex;
    gap: 10px;
}

.noDataFound{
    margin-top: 25px;
    text-align: center;
}
@media only screen and (max-width: 1500px) {
    .PageLayout__MainContainer section.playerMatches .cardTitle{
        gap: 25px;
    }
    .PageLayout__MainContainer section.playerMatches .cardTitle select{
        font-size: 15px !important;
    }
}


@media (max-width: 768px) {
    .PageLayout__MainContainer section.playerMatches .cardHeader{
        height: fit-content;
    }
    .PageLayout__MainContainer section.playerMatches .cardTitle{
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }
  }


  @media (max-width: 600px) {
    .PageLayout__MainContainer section.playerMatches .cardTitle .filters{
        flex-direction: column;
    }
  }


@media (max-width: 550px) {
    .matchesBlock table tr th:nth-child(11),
    .matchesBlock table tr th:nth-child(12){
        display: none;
    }
    .matchesBlock table tr td:nth-child(11),
    .matchesBlock table tr td:nth-child(12){
        display: none;
    }
  }
  @media (max-width: 480px) {
    .matchesBlock table tr th:nth-child(9),
    .matchesBlock table tr th:nth-child(10){
        display: none;
    }
    .matchesBlock table tr td:nth-child(9),
    .matchesBlock table tr td:nth-child(10){
        display: none;
    }
  }
  @media (max-width: 410px) {
    .matchesBlock table tr th:nth-child(8){
        display: none;
    }
    .matchesBlock table tr td:nth-child(8){
        display: none;
    }
  }
