.CompetetionSlider .container,.TeamsSlider .container{
    position: relative;
}
.listOfTourns,.listOfTeams{
    display: flex;
    gap: 20px;
    transition: all 0.3s ease;
}

.wrapper{
    position: relative;
    overflow: hidden;
}
.listOfTourns .competetion,.listOfTeams .team{
    display: flex;
    padding: 20px;
    gap: 10px;
    background-color: var(--button-hover-color);
    flex: 0 0 calc((100% - 60px) / 4);
    cursor: pointer;
    transition: all 0.3s ease;
    border-color: transparent;
    border: 2px solid transparent;
}
.listOfTourns .competetion:hover ,.listOfTeams .team:hover{
    border-color: var(--text-color);
}
.listOfTourns .competetion img,.listOfTeams .team img{
    width: 50px;
    height: 50px;
}
.listOfTourns .competetion .tournInfo,.listOfTeams .team .teamInfo{
    display: flex;
    flex-direction: column;
}
.listOfTourns .competetion .tournInfo p:first-child,.listOfTeams .team .teamInfo p:first-child{
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color);
}
.listOfTourns .competetion .tournInfo p:last-child,.listOfTeams .team .teamInfo p:last-child{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
}
.CompetetionSlider button,.TeamsSlider button{
    position: absolute;
}
.CompetetionSlider button:last-of-type,.TeamsSlider button:last-of-type{
    display: none;
}
.CompetetionSlider button svg,.TeamsSlider button svg{
    width: 25px;
    fill: white;
    fill: var(--text-color);
}