.navBar{
    height: 95px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    background-color: var(--back-color);
    transition: all 0.3s linear;
    border-color: transparent;
    z-index: 9;
}
.navBar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navBar .logo{
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.navBar h1{
    font-size: 23px;
    height: fit-content;
    color: var(--text-color);
    transition: all 0.3s ease;
}
.navBar .logo:hover h1{
    color: var(--hover-color);
}

.navBar .logo svg{
    height: 30px;
}
.navBar .logo svg path{
    fill: var(--text-color);
    transition: all 0.3s ease;
}
.navBar .logo:hover svg path{
    fill: var(--hover-color);
}
.navList{
    position: relative;
}
.navList li{
    display: inline-block; 
    font-size: 18px;
    font-weight: 600;
    vertical-align: middle;
    position: relative;
    transition: all 0.3s linear;
    cursor: pointer;
}
.navList li a{
    color: var(--text-color);
    transition: all 0.3s ease;
    width: 100%;
    height: 100%;
    display: block;
    padding: 0 15px;
}
.navList li:hover{
    background: var(--button-hover-color);
}
.navList .Bottomline{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    transition: all 0.3s linear;
    background-color: var(--text-color);
}
.options{
    display: flex;
    gap: 15px;
}

.options .moreOpt{
    display: flex;
    gap: 25px;
    align-items: center;
}
.options .moreOpt svg{
    width: 28px;
    height: 28px;
    fill: var(--text-color);
    transition: all 0.3s ease;
}
.options .moreOpt .settings{
    background-color: var(--button-hover-color);
    padding: 10px;
    border-radius: 100%;
    cursor: pointer;
}
.options .moreOpt .search{
    background-color: var(--button-hover-color);
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    /* gap: 10px; */
    border-radius: 15px;
}

.options .moreOpt .search input{
    background: transparent;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    outline: none;
    max-width: 0;
    transition: all 0.3s ease;
}
.options .moreOpt .search  .activeInp{
    max-width: 150px;
}
.options .moreOpt .settings:hover svg,.options .moreOpt .search:hover svg{
    fill: var(--hover-color);
}
.navBar .auth{
    display: flex;
    gap: 10px;
    align-items: center;
    margin: auto 0;
}
.navBar .auth img{
    width: 48px;
    border-radius: 100%;
}
.line{
    height: 48px;
    width: 2px;
    background-color: var(--text-color);
}
.userProfilePic{
    height: 48px;
    border-radius: 100%;
}
.userProfilePic img{
    width: 50px;
    height: 100%;
    border-radius: 100%;
}
.dropM{
    display: flex !important;
    gap: 3px;
}
.dropM svg{
    width: 15px;
    fill: var(--text-color);
}
.menuToggle {
    display: block;
    position: relative;
    top: 15px;
    /* top: 30px; */
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  .menuToggle a {
      text-decoration: none;
      color: white;
      transition: all 0.3s ease;
      
    }
    /* .menuToggle a:hover {
      color: var(--blue-color);
    } */
  .menu--right-nav .menuItem li a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: var(--text-color);
  }
  .menu--right-nav .menuItem li a svg{
    width: 25px;
    height: 25px;
    /* fill: var(--text-color); */
  }
    .menuToggle #hamburg {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      cursor: pointer;
      opacity: 0; /* hide this */
      z-index: 2; /* and place it over the hamburger */
      -webkit-touch-callout: none;
    }
    .menuToggle .hamburg {
      position: relative;
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      background: var(--text-color);
      border-radius: 3px;
      z-index: 1;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
    }
      .menuToggle:first-child {
        transform-origin: 0% 0%;
      }
      .menuToggle:nth-last-child(2) {
        transform-origin: 0% 100%;
      }
    
  
  
  
      .menuToggle #hamburg:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(0px, -1px);
        background: var(--text-color);
     }
      .menuToggle #hamburg:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
     }
      .menuToggle #hamburg:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
     }
      .menuToggle #hamburg:checked ~ .menuItem {
        transform: none;
     }
      
  
     .menuItem {
      position: absolute;
      width: calc(100vw + 35px);
      padding: 50px;
      padding-top: 125px;
      background: var(--back-color);
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      transform-origin: 0% 0%;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      min-height: calc(100vh + 50px);
   }
    .menuItem li {
      padding: 10px 0;
      font-size: 22px;
   }
    
   .menu--right-nav .menuToggle {
    /* position: fixed; */
  
  }
  .menu--right-nav .menuToggle input {
    /* right: 30px; */
  }
  .menu--right-nav .menuToggle span {
    /* right: 35px; */
  }
  .menu--right-nav .menuItem {
    /* right: 0;
    margin: -100px 0 0 0;
    transform: translate(100%, 0); */
    right: 0;
    margin: -100px 0 0 0;
    transform: translate(300%, 0);
  }
  /* .menu--right-nav .menuItem li a:hover {
    padding-left: 5px;
  } */
  .stopScroll{
      height:100%;
      overflow:hidden
  }
  .menu--right-filter .menuToggle {
    position: relative;
    width: 50px;
    height: 50px;
    top: 13px;
  }
  .menu--right-filter .menuToggle #hamburg {
    top: 0;
    left: 0;
    right: 0;
    bottom: -24px;
  }
  .menu--right-filter .menuToggle .hamburg {
    right: 0;
    position: absolute;
    left: 0;
  }
  .menu--right-filter .menuToggle .hamburg:nth-child(2){
    top: 0px;
    
  }
  .menu--right-filter .menuToggle #hamburg:checked ~ .hamburg:nth-child(2) {
    transform: rotate(47deg) translate(2px, -1px) !important;
  }
  .menu--right-filter .menuToggle .hamburg:nth-child(3){
    top: 10px;
  }
  .menu--right-filter .menuToggle .hamburg:nth-child(4){
    top: 20px;
  }
  .menu--right-filter .menuItem {
   


    right: -25px;
    /* margin: -100px 0 0 0; */
    transform: translate(-100%, 0);
    /* left: 0; */
    top: 100%;
    padding-left: 82px;
    padding-top: 20px;
    z-index: 10;

  }
  .menu--right-filter .menuItem li a:hover {
    padding-left: 5px;
  }
  .mobileVisible{
    display: none;
  }
  @keyframes text-slide-in {
    0% {
      -webkit-transform: translateX(100px);
      -moz-transform: translateX(100px);
      -ms-transform: translateX(100px);
      -o-transform: translateX(100px);
      transform: translateX(100px)
    }
  
    100% {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0)
    }
  }
@media (max-width: 991px) {
    .hideNavComp{
        display: none !important;
    }
    .navBar .logo{
        flex: initial !important;
    }
    .mobileVisible{
      display: block !important;
    }
}
@media (max-width: 1199px) {
    .navBar .logo{
        flex: 1;
    }
    .navList li a{
        padding: 0 10px;
    }
    .navBar h1{
        font-size: 21px;
    }
}
