
.wrapperList{
    width: 90%;
    overflow: hidden;
}
.matchesBlock{
    margin-top: 15px;
}
.matchesBlock h2{
    font-size: 1.5rem;
    color: var(--text-color);
}
.allMatches{
    height: fit-content !important;
}
.allMatches table{
    width: 100%;
    color: var(--text-color);
}
.allMatches table thead td{
    padding-bottom: 10px;
    border-bottom: 1px solid;
}
.allMatches table thead td:first-of-type{
    width: 65%;
    text-align: center;
}
.allMatches table thead td:last-of-type{
    width: 25%;
}
.allMatches table tbody tr:first-of-type td{
    padding-top: 10px;
}
.allMatches table tbody tr td{
    padding-bottom: 1em;
}
.allMatches table tbody tr td:first-of-type{
    display: flex;
    justify-content: center;
}

.allMatches table tbody tr td:first-of-type div{
    display: flex;
}
.allMatches table tbody tr td:first-of-type .scores{
    margin-right: 15px;
    margin-left: 12px;
}
.allMatches table tbody tr td:first-of-type .team{
    width: 50%;
}
.allMatches table tbody tr td:first-of-type .team:first-of-type{
    justify-content: end;
}
.allMatches table tbody tr img{
    width: 25px;
}
.allMatches table .Home,.allMatches table .Away{
    gap: 5px;
}
.live{
    color: red !important;
}
.hiddenTab{
    display: none;
}
.loadingBlock{
    display: flex;
    align-items: center;
    justify-content: center;
}