.featuredNews{
    width: 100%;
    display: flex;
}
.featuredNews .newsImg{
    width: 65%;
    max-height: 470px;
}
.featuredNews .newsImg img{
    width: 100%;
    height: 100%;
}
.featuredNews .newsInfo{
    display: flex;
    flex-direction: column;
    width: 35%;
    /* margin: auto; */
    gap: 15px;
    justify-content: center;
    padding-left: 20px;
    border: 1px solid var(--button-hover-color);
    border-left: 0;
}
.featuredNews .newsInfo .newsTitle{
    font-size: 23px;
    font-weight: 700;
    color: var(--text-color);
    line-height: 1.2;
    transition: all 0.3s ease;
}
.featuredNews .newsInfo .newsContent{
    font-size: 17px;
    font-weight: 500;
    color: var(--text-color);
}
.featuredNews .newsInfo .newsContent a{
    color: var(--text-color);
    text-decoration: underline;
}
.channel{
    display: flex;
    gap: 15px;
}
.channel img{
    width: 25px;
}
.channelName{
    font-size: 14px;
    color: var(--text-color);
}
@media (max-width: 991px) {
    .featuredNews{
        flex-direction: column;
    }
    .featuredNews .newsImg{
        width: 100%;
    }
    .featuredNews .newsImg img{
        height: 200px;
    }
    .featuredNews .newsInfo{
        width: 100%;
        padding: 10px;
        border-left: 1px solid var(--button-hover-color);
    }
}